<nav class="navbar navbar-dark" style="background-color: #2d3436">
<div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-calendar-week"></i> Schedule website</a>
    </div>
</nav>