<h1 class="grey text-center mb-3">
<i class="grey fas fa-calendar-week"></i> {{title}}</h1>
<h3 class="grey text-center mb-3">{{subtitle}}</h3>
<div class="container m-5">
    <ul class="list-group list-group-flush">
        <a href="/users" class="list-group-item">
            <i class="bi bi-people"></i>
                Users
        </a>
        <a href="/schedules" class="list-group-item">
            <i class="bi bi-calendar"></i>
             Schedules
        </a>
    </ul>
</div>


